<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <div>
        <nav>
             <a class="link" href="/">Home</a>
                    <a class="link" href="/posts">Posts</a>
                    {{!-- <a class="link" href="/logout" id="logout">Logout</a> --}}
                    <a class="link" href="/login">Login</a>
        </nav>
    </div>
</body>
    <main>
        {{{ body }}}
    </main>
</html>